<div class="forgot-password-container  wow fadeIn"  data-wow-duration="0.3s">
  <div class="row">
    <div class="col-md-12">
      <h4>Forgot your password?</h4>
      <div class="pt-2">
        <div class="alert alert-success" *ngIf="success === 'OK'">
          <p>Instructions on how to reset your password have been sent to your registered username address.</p>
        </div>
        <form *ngIf="!success" name="form" role="form" (ngSubmit)="forgotPassword()" #forgotPasswordForm="ngForm">
          <div class="form-group">
            <input mdbactive type="text" class="form-control" id="username" name="username" placeholder="Your username" [(ngModel)]="username"
              minlength=8 maxlength=16 #usernameInput="ngModel" required>
            <div *ngIf="usernameInput.dirty && usernameInput.invalid">
              <small class="form-text text-danger" *ngIf="usernameInput.errors.required">
                Your username is required.
              </small>
              <small class="form-text text-danger" *ngIf="usernameInput.errors.username">
                Your username is invalid.
              </small>
              <small class="form-text text-danger" *ngIf="usernameInput.errors.minlength">
                Your username is required to be at least 8 characters.
              </small>
              <small class="form-text text-danger" *ngIf="usernameInput.errors.maxlength">
                Your username cannot be longer than 16 characters.
              </small>
            </div>
          </div>
          <table>
            <tr>
              <td>
                <button type="submit"  class="btn black">Send email</button>
              </td>
              <td class="mt-2 pt-2">
                <mat-spinner *ngIf="loadingRequest" spinnerType="small" spinnerColor="blue"></mat-spinner>
              </td>
            </tr>
          </table>
        </form>
        <div class="text-right py-2">
          <a class="" (click)="backToLogin()">
            < Back to login</a>
        </div>
      </div>
    </div>
  </div>
</div>